.bannerContainer{
  padding: 0 10px;
  background: #f9f9f9;
}
.bannerContainer .bookImg{
  margin-left:-10px;
  margin-right:-10px;
  width: calc( 100% + 20px );
}
.bannerContainer .tag{
  color: #fff;
  display: inline-block;
  background: #108ee9;
  padding: 0px 3px;
}
.bannerContainer .erverbook-name{
  display: inline-block;
  color: #333;
  margin-top:10px;
  cursor: pointer;
}
.bannerContainer .erverbook-name:hover{
  color: #108ee9;
}
.bannerContainer .introduce{
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bannerContainer .topicnav{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
  margin-top: 10px;
  padding-top: 10px;
}
.bannerContainer .topicnav.book-tag{
  border: 0px;
  margin-top: 0px;
}
.bannerContainer .topiclist{
  list-style: inherit;
  padding-left: 20px;
  color: #cdcdcd;
  font-size: 16px;
}
.bannerContainer .topiclist li{
  height: 30px;
}
.bannerContainer .topiclist a{
  color: #666;
}
.bannerContainer .topiclist a:hover{
  color: #333;
  /*text-decoration: none;*/
}
