<div class="bannerContainer">
  <img src="http://localhost:3000/bookimages/{{every_books[0]?.book_img}}" alt="" class="bookImg">
  <div class="topicnav book-tag">
    <p class="tag">每日一书</p>
  </div>
  <h3 (click)="toBookDetail(every_books[0]?.book_id)">{{every_books[0]?.book_name}}</h3>
  <p class="introduce" [innerHtml]="every_books[0].book_content"></p>
  <div class="topicnav">
    <p class="tag">每日话题</p>
    <a (click)="toTopic()">更多话题</a>
  </div>
  <ul class="topiclist">
    <li *ngFor="let topic of every_topics">
      <a (click)="toTopicDetail(topic.topic_id)">{{topic.topic_name}}</a>
    </li>
  </ul>
</div>
