.booklist_bookitem{
  width: 310px;
  height: 160px;
  margin-bottom: 30px;
}
/* .booklist_bookitem:nth-child(3n+2){
  margin: 0px 89px;
} */
.bookicon{
  width: 114px;
  height: 161px;
  float: left;
  box-shadow: 0 1px 4px rgba(40,40,40,.6);
  overflow: hidden;
  cursor: pointer;
}
.bookicon>img{
  transition: all .6s;
}
.bookicon>img:hover{
  transform: scale(1.1);
}
.book_content{
  margin-left: 134px;
}
.book_content a{
  display: block;
  margin-top: 6px;
  font-size: 18px;
  height: 50px;
  color: #555;
  overflow: hidden;
  font-weight: bold;
}
.book_content a:hover{
  text-decoration: none;
  color: #108ee9!important;
}
.book_content p.author{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book_content p{
  margin-top: 0px;
  margin-bottom: 10px;
}
.book_content p.summary{
  font-size: 13px;
  line-height: 18px;
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
  color: #999;
}
